<div class="top-wrapper">
  <div class="top-container">
    <h1 class="top-title">
        Gummy Review
    </h1>
    <p class="top-subtitle">
      食べたグミを記録してみんなと共有しよう！<br>
      ログインすると……<br>
      ⭐️グミのレビュー投稿ができる！⭐️<br>
      ⭐️お気に入りのグミにいいねができる！⭐️<br>
      ⭐️コメントを書いて交流できる！⭐️<br>
       さあ、あなたもグミレビューを始めよう！
    </p>
    <%= link_to "グミを見る", reviews_path, class: "top-button" %>
  </div>
</div>
