<div class="top-wrapper">
  <div class="top-container">
    <h1 class="top-title">
      🍬 Gummy Review
    </h1>
    <p class="top-subtitle">
      食べたグミを記録してみんなと共有しよう！
    </p>
    <%= link_to "グミを見る", gummies_path, class: "top-button" %>
  </div>
</div>
