<div class="top-wrapper">
  <div class="top-inner-text">
    <h1 class="top-title">⋆.*꒰ঌ*Gummy Review*໒꒱⋆.*</h1>
    <%= image_tag 'topgummy.png', class: 'top-image', alt: 'くまグミ' %>
    <p class="top-subtitle">
      食べたグミを記録してみんなと共有しよう！<br>
      ログインすると……<br>
      ⭐️グミレビュー投稿ができる⭐️<br>
      ⭐️新たなグミに出会える⭐️<br>
      ⭐️君だけのグミ分析ができる⭐️<br>
      ⭐️君だけの称号がもらえる⭐️<br>
       さあ、君もグミレビューを始めよう！
    </p>
    <%= link_to "覗いてみる？", reviews_path, class: "top-button" %>
  </div>
</div>
