.top-wrapper {
  background-image: url('DE5961DC-0CB4-4298-9932-D6BFA88A8596.jpeg');
  height: 500px;
  padding-top: 60px;
}

.top-container {
  text-align: center;
}

.top-title {
  font-size: 40px;
  font-weight: bold;
  color: #120a0b;
}

.top-subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: #333232;
}

.top-image {
  width: 400px;
  margin-top: 20px;
}

.top-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #e89ca7;
  color: rgb(249, 239, 239);
  border-radius: 8px;
  text-decoration: none;
}

.top-button:hover {
  background-color: #ff4d6d;
}

.header {
  background-color: #f3c4d5; /* ピンク色 */
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.footer {
  background-color: #f9d1df; /* ピンク色 */
  padding: 1rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

main {
  flex: 1;
}
