/*
 *= require_tree .
 *= require_self
 */

.top-wrapper {
  background-image: url('DE5961DC-0CB4-4298-9932-D6BFA88A8596.jpeg');
  height: 500px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top-container {
  text-align: center;
}

.top-title {
  font-size: 40px;
  font-weight: bold;
  color: #120a0b;
}

.top-subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: #333232;
}

.top-image {
  width: 400px;
  margin-top: 20px;
}

.top-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #e89ca7;
  color: rgb(249, 239, 239);
  border-radius: 8px;
  text-decoration: none;
}

.top-button:hover {
  background-color: #ff4d6d;
}

.header {
  background-color: #9ee9fa;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
}

.footer {
  background-color: #9ee9fa;
  padding: 1rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3baf8;
}

main {
  flex: 1;
}

main.top-page {
  flex: initial;  /* トップページだけ解除 */
}

.user-registration-form .form-control {
  width: 50%;
  margin: auto;
}

.user-registration-form .form-label {
  width: 50%;
  margin: auto;
  display: block;
}

.btn-pink {
  background-color: #fa61ae;
  color: white;
}
