/*
 *= require_tree .
 *= require_self
 */

.top-wrapper {
  background-image: url('DE5961DC-0CB4-4298-9932-D6BFA88A8596.jpeg');
  height: 500px;
  padding-top: 100px;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.top-container {
  text-align: center;
}

.top-title {
  font-size: 40px;
  font-weight: bold;
  color: #120a0b;
}

.top-subtitle {
  font-size: 18px;
  margin-top: 10px;
  color: #333232;
}

.top-image {
  width: 400px;
  margin-top: 20px;
}

.top-button {
  display: inline-block;
  margin-top: 30px;
  padding: 10px 20px;
  background-color: #e89ca7;
  color: rgb(249, 239, 239);
  border-radius: 8px;
  text-decoration: none;
}

.top-button:hover {
  background-color: #ff4d6d;
}

.header {
  background-color: #9ee9fa;
  padding: 1rem;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header a {
  text-decoration: none;
  color: #8b4789;
  font-weight: bold;
}

.footer {
  background-color: #9ee9fa;
  padding: 1rem;
  text-align: center;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #e3baf8;
}

main {
  flex: 1;
}

main.top-page {
  flex: initial;  /* トップページだけ解除 */
}

.user-registration-form .form-control {
  width: 50%;
  margin: auto;
}

.user-registration-form .form-label {
  width: 50%;
  margin: auto;
  display: block;
}

.btn-pink {
  background-color: #fa61ae;
  color: white;
}

.btn-pink:hover {
  background-color: #fb3d92;  /* ホバー時の色 */
  color: white;  /* 文字色も明示 */
}

/* タイトル */
.title {
  text-align: center;
  margin: 20px 0;
}

/* フォーム全体 */
.review-form {
  width: 700px;
  margin: 0 auto;
  background: #fcc2ff;
  padding: 30px;
  border-radius: 10px;
}

/* 各入力ブロック */
.form-group {
  margin-bottom: 20px;
}

/* ラベル */
.form-group label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

/* 入力欄 */
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #888;
  border-radius: 5px;
  box-sizing: border-box;
}

/* 横並び（ここ重要🔥） */
.row-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 20px;
}

.row-group div {
  width: 24%;
  min-width: 150px;  /* 最小幅を設定 */
  text-align: center;
}

/* テキストエリア大きめ */
textarea {
  height: 150px;
}

/* ボタン */
.submit-area {
  text-align: right;
}

.submit-area input {
  background-color: #a3e7ff;
  border: none;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
}

.submit-area input:hover {
  background-color: #7fddff;
}

.card-link {
  text-decoration: none; /* 下線を消す */
}

.card-link:hover {
  text-decoration: none; /* ホバー時も下線を消す */
}

.custom-card {
  background-color: #fcc2ff;
}

.custom-btn {
  background-color: #fa61ae;
  color: white;
}

.custom-btn:hover {
  background-color: #ff4d9e;
  color: white;
}
